<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mandiBean" class="com.kanahaiya.practice.ioc.MandiService">
        <property name="location" value="Indore Mandi" />
    </bean>
    
     <bean id="myDbConnector" class="com.kanahaiya.practice.ioc.DatabaseConnector"/>
     
     <bean id="mandiPriceService" class="com.kanahaiya.practice.ioc.MandiPriceService">
       <property name="DbConnector" ref="myDbConnector"></property>
     </bean>
     
       
    

</beans>